.card {
    box-sizing: border-box;
    width: 20rem;
    height: 32rem;
    background: rgba(217, 217, 217, 0.58);
    border: 2px solid rgb(106, 2, 2);
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    padding: 20px;
}


.card:hover {
    border: 2px solid rgb(137, 1, 1);
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.imgEquipo {
    border-radius: 80%;

}